@import "tailwindcss";
@import "@heroui/styles";

@theme inline {
  --color-background: #dde7eb;
  --color-foreground: #171717;
  --color-primary: #2e4da5;
  --color-secondary: #67dc8b;
  --font-ashigea: var(--font-ashigea);
  --font-geist-sans: var(--font-geist-sans);
}
